@media only screen and (min-width:1500px) {

	.logo-txt-g {
		font-size: 30px;
	}

	.header-sec,.z-logo {
		height: auto;
	}




}
@media only screen and (min-width:1801px) {
	.login-sec {
		background-size: 77vh ,12% , auto;
	}

	

}
@media only screen and (max-width:767px) {
	.login-gd {
		font-size: 18px;
		padding-bottom: 10px;
	}
	.login-sub {
		font-size: 16px;
		margin: 15px auto;
	}
	.login-sec {
		background-size: 100vh ,12% , auto;
	}
	.login-bx {
		margin-bottom: 20px;
	}
	.for-txt-g {
		margin-bottom: 15px;}
		.head-inner {
			flex-direction: column;
		}

		.header-sec {
			height: auto;
		}
		.logo-txt-g {
			margin-left: 0px;
			font-size: 17px;
			text-align: center;
			margin-bottom: 15px;
			font-weight: 800;
		}
		.hear-rt-inner {
			margin-bottom: 15px;
			justify-content: center;
		}
		.reqfor-hd {
			font-size: 19px;
		}
		.rq-form-sec .l-txt-bx,.l-txt-bx{
			max-width: 100%;
		}
		.prof-name {
			font-size: 16px;}
	
}
@media only screen and (min-width:768px) and (max-width:991px){

	.login-sec {
		background-size: 90vh ,12% , auto;
	}

	.label-txt {
 		font-size: 14px}
}
@media only screen and (max-width:991px){
.login-wrap {
    margin: 0px auto;
}

}
@media only screen and (max-width:1024px){
.reg-wrap{
	max-height: unset;
	overflow-y: unset;
	padding-right: unset;
	}
}
@media only screen  and (min-device-width: 1024px)  and (max-device-width: 1024px)  and (orientation: portrait)  and (-webkit-min-device-pixel-ratio: 2) {


}
@media only screen and (max-width:445px){
	.red-det-btn {
		margin-top: 20px;} 
}